@model TgAdsStatistics.Models.ViewModels.LoginViewModel
<h2>Вход на сайт</h2>
<form method="post" asp-controller="Account" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="UserName"></label><br />
        <input asp-for="UserName" /><br />
        <span asp-validation-for="UserName"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" /><br />
        <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label><br />
        <input asp-for="RememberMe" />
    </div>
    <div>
        <input type="submit" value="Вход" class="btn btn-sm btn-primary" />
    </div>
</form>

