@model TgAdsStatistics.Models.ViewModels.ChangePasswordViewModel
@{
    ViewData["Title"] = "Изменить пароль";
}
<h2>Пользователь @Model.UserName</h2>
<form asp-action="ChangePassword" asp-controller="Admin">
    <div asp-validation-summary="All" class="text-danger"></div>

    <input type="hidden" asp-for="Id"/>
    <input type="hidden" asp-for="UserName"/>

    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="password" asp-for="NewPassword" class="form-control" />
    </div>

    <div>
        <input type="submit" value="Сохранить" class="btn btn-sm btn-primary" />
    </div>
</form>

